# --- General Settings ---
DOMAIN=localhost

# --- Backend Settings ---
BACKEND_PORT=5000
NODE_ENV=production
MONGO_URI=mongodb://db:27017/webshopmc
JWT_SECRET=change_this_to_a_secure_random_string
ADMIN_PASSWORD=1150

# URL for CORS and internal references
FRONTEND_URL=http://localhost
API_URL=http://localhost/api-backend

# --- Frontend Settings ---
NEXT_PUBLIC_API_URL=/api-backend
